{
  "presets": [
    [
      "@babel/preset-env", {
      "useBuiltIns": "entry", // do I need this?
      "corejs": 3
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-spread",
  ]
}