@import '../../../_variables.scss';

.details{
  width:100%;
  // border-radius:$inputBorderRadius;

  .summary{
    height: 2rem;
    font-size: 1.6rem;
    user-select:none;
    color: $pink;
    border: 0.2rem solid $maroon;
    border-bottom: none;
    text-decoration: none;
    padding-left: 0.5rem;


    &::-webkit-details-marker {
      display:none;
    }

    &:focus{
      outline:none;
    }
  }

  &[open]{

    .summary{
      border-bottom: 0.2rem solid $maroon;
    }
  }

  &:first-of-type{
    .summary{
      // border-radius: 0.5rem 0.5rem 0 0;
    }
  }
  &:last-of-type{
    .summary{
      // border-radius: 0 0 0.5rem 0.5rem;
      border-bottom: 0.2rem solid $maroon;
    }
  }
}