@font-face {
  font-family: 'Karla-Bold';
  src: url('../fonts/karla/Karla-Bold.woff2') format('woff2'),
      url('../fonts/karla/Karla-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Regular';
  src: url('../fonts/karla/Karla-Regular.woff2') format('woff2'),
      url('../fonts/karla/Karla-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Italic';
  src: url('../fonts/karla/Karla-Italic.woff2') format('woff2'),
      url('../fonts/karla/Karla-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-BoldItalic';
  src: url('../fonts/karla/Karla-BoldItalic.woff2') format('woff2'),
      url('../fonts/karla/Karla-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bold,
strong{
  font-family: 'Karla-Bold';
}

.italic,
i{
  font-family: 'Karla-Italic';
}

.bold.italic,
.boldItalic,
i > strong,
strong > i{
  font-family: 'Karla-BoldItalic';
}

h1{
  font-size:4.8rem;
  margin:1.6rem 0.4rem;
}

h2{
  font-size:4.2rem;
  margin:1.4rem 0.4rem;
}

h3{
  font-size:3.6rem;
  margin:1.2rem 0.4rem;
}

h4{
  font-size:3rem;
  margin:1rem 0.4rem;
}

h5{
  font-size:2.4rem;
  margin:1.2rem 0.4rem;
}

h6{
  font-size:1.8rem;
  margin:0.9rem 0.4rem;
}

p, label {
  font-size: 1.2rem;
  margin:0.4rem;
}
h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
  font-family: 'Karla-Regular';

  > strong{
    font-weight: 800;
    font-family: 'Karla-Bold';
  }

  > em,
  > i{
    font-weight: 400;
    font-family: 'Karla-Italic';
  }

  > i > b,
  > em > b,
  > i > strong,
  > em > strong,
  > b > em,
  > b > i,
  > strong > em,
  > strong > i{
    font-weight: 800;
    font-family: 'Karla-BoldItalic';
  }
  
  sup{
    font-size:50%;
    display: inline-block;
    transform: translateY(-0.2rem)
  }

  sub{
    font-size:50%;
    display: inline-block;
    transform: translateY(0.2rem)
  }
}
