@import '_variables.scss';

.container{
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid:
    ' sidenav header '
    ' sidenav main '
    ' sidenav footer '
    ;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 90px 1fr 60px;
  min-height: 100vh;
}
  .sidebar{
    position: relative;
    grid-area: sidenav;
    background: #333;
    color: white;
  }
  .header{
    position: relative;
    grid-area: header;
    background: #666;
  }
  .main{
    position: relative;
    grid-area: main;
    background: #999;
  }
  .footer{
    position: relative;
    grid-area: footer;
    background: #BBB;
  }
