@import '_variables.scss';

.container{
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid:
    ' header '
    ' main '
    ' footer '
    ;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr 60px;
  min-height: 100vh;
}
  .header{
    position: relative;
    grid-area: header;
    background: $darkGrey;
  }
  .main{
    position: relative;
    grid-area: main;
    background: $lightGrey;
  }
  .footer{
    position: relative;
    grid-area: footer;
    background: $midGrey;
  }
