// // SCSS / Vars test
// $test-color: #f0f;
// // Autoprefixer test
// ::placeholder {
//   color: $test-color;
// }

@font-face {
  font-family: 'Karla-Bold';
  src: url('public/fonts/Karla-Bold.woff2') format('woff2'),
      url('public/fonts/Karla-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Regular';
  src: url('public/fonts/Karla-Regular.woff2') format('woff2'),
      url('public/fonts/Karla-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Italic';
  src: url('public/fonts/Karla-Italic.woff2') format('woff2'),
      url('public/fonts/Karla-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-BoldItalic';
  src: url('public/fonts/Karla-BoldItalic.woff2') format('woff2'),
      url('public/fonts/Karla-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  background: yellow;
  font-family: 'Karla-Regular';
}