// // SCSS / Vars test
// $test-color: #f0f;
// // Autoprefixer test
// ::placeholder {
//   color: $test-color;
// }

html{ // Webkit fix for mobile addressbar taking up vh space.
  height:100%;
}
body {
  background: grey;
  font-family: 'Karla-Regular';
  height:100%;
}
#application{ // Webkit fix for mobile addressbar taking up vh space.
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}